body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-jplenio-1103970.jpg&fm=jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    /* Horizontal Menu */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: #666;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add transparency */
    min-height: 500px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Artifact Thumbnails */
.artifact-thumbnail {
    float: left;
    margin-right: 10px;
    width: 80px;
    height: auto;
}
